.frm1{
width: 500px;
background-color: #61dafb;
border: 2px solid black;
padding: 50px;
margin: 20px;
}

.par{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.div2{
    margin-top: 15px;
}


.div3{

    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.compressed{
width: 500px;
background-color: #61dafb;
border: 2px solid black;
padding: 50px;

}